.mainarea {
  flex: 0.7;
  background-color: aqua;
}
.allques__div {
  height: calc(100vh - 10vh);
  width: 100%;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question__area {
  height: 80%;
  width: 80%;
  border-radius: 0.7rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 1rem;
  border: 2px solid pink;
}
.asked__toggle {
  display: flex;
  justify-content: space-around;
}
.allques {
  max-height: calc(100% - 50px);
  overflow-y: auto;
  padding-top: 1rem;
}
.singleQues {
  width: 90%;
  padding: 1rem;
  background-color: #ccc;
  margin: 0.5rem;
  border-radius: 0.7rem;
}
.delete__btn {
  padding: 0.5rem;
  border: 0;
  outline: 0;
  margin-left: 0rem;
  border-radius: 0.7rem;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .mainarea {
    flex: 1;
  }
  .addQues__div {
    padding-top: 25vh;
  }
}
